.container {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-evenly;
}

img {
  max-width: 500px;
  padding: 50px;
}
@media screen and (max-width: 1029px) {
  img {
    width: 200px;
  }
  .container {
    flex-direction: column;
  }
}
.blocob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.formulario {
  display: flex;
  flex-direction: column;
}
